@use 'variables' as *;

// #top-wrapper h1 {
//   font-weight: 700;
//   font-size: 32px;
//   letter-spacing: -1px;
//   max-width: 500px;
//   margin: 0 auto 2rem auto;
// }

// a {
//   color: $color-blue;
//   text-decoration: none;

//   &:hover {
//     color: $color-blue;
//   }

//   &:visited {
//     color: $color-blue;
//   }
// }

// footer {
//   margin: 0 1rem;
//   text-align: center;
//   color: $color-grey;
//   font-size: 1rem;

//   a:hover {
//     text-decoration: underline;
//   }
// }

// input[type="text"],
// input[type="url"] {
//   color: $color-dark;
//   border: $border-lightgrey;
//   border-radius: $rounded-radius;
//   width: 100%;
//   box-sizing: border-box;
//   background: none;
//   font-size: 1rem;
//   height: $rounded-height;

//   &:focus {
//     border: solid 1px $color-blue;
//     box-shadow: 0 0 0 0.2rem $color-blue-transparent;
//     outline: none;
//   }
// }

// button:not(.close, .nav-link) {
//   display: block;
//   height: $rounded-height;
//   background-color: $color-blue;
//   border-radius: $rounded-radius;
//   border: none;
//   padding: 0 16px;
//   color: white;
//   font-size: 1rem;
//   letter-spacing: 0.25px;
//   cursor: pointer;

//   &:focus {
//     box-shadow: 0 0 0 0.2rem rgba(29, 161, 242, 0.25);
//     outline: none;
//   }

//   &:hover {
//     background-color: $color-darkblue;
//   }
// }

// small {
//   color: $color-grey;
//   font-size: 11px;
//   margin: 8px 0;
// }

// #container {
//   margin: 0 auto;
//   width: 100%;
//   padding: 1rem;
//   text-align: center;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;
//   min-height: 100vh;
// }

// #top-wrapper {
//   margin-top: 10vh;
//   margin-bottom: 1rem;
// }

// #site-name {
//   font-weight: bold;
//   color: $color-blue;
// }

// #support {
//   // margin-top: 8px;
//   margin-bottom: 2rem;
//   color: $color-grey;
//   font-size: 1rem;
// }

// #top-form {
//   width: 100%;
// }

// #form-input-group {
//   // position: relative;
//   // width: 100%;
//   // background: white;
//   // z-index: 1;

//   // input {
//   //   padding-left: 12px;
//   //   padding-right: 42px;
//   //   border-color: $color-dark;

//   //   &:focus {
//   //     border-color: $color-blue;
//   //   }
//   // }

//   // button {
//   //   padding: 0 12px;
//   // }

//   // button:focus {
//   //   box-shadow: none;

//   //   svg {
//   //     // stroke: rgba(29, 161, 242, 0.25);
//   //     // stroke-width: 8;
//   //     fill: $color-dark;
//   //   }
//   // }

//   // svg {
//   //   height: 60%;
//   //   fill: $color-blue;
//   // }

//   // &.error input[type="text"] {
//   //   border: solid 1px $color-red;
  
//   //   &:focus {
//   //     box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
//   //     outline: none;
//   //   }
//   // }
// }

button.input-overlay {
  background: none;
  position: absolute;
  right: 0;
  top: 0;

  &:focus {
    box-shadow: $box-shadow-light;
    border: none;
  }

  &:hover {
    background-color: transparent;
  }
}

button.light-button {
  margin-top: 8px;
  padding: 4px 8px;
  background-color: $color-extralightgrey;
  display: inline-block;
  cursor: pointer;
  color: $color-dark;
  white-space: nowrap;
  width: 100%;
  text-align: center;

  &:hover {
    color: $color-dark;
    text-decoration: none;
    background: $color-lightgrey;
  }

  &:focus {
    box-shadow: none;
    border: $border-lightgrey;
  }
}

// label:not(.form-check-label) {
//   margin: 8px 0;
// }

// label.section {
//   display: block;
  // font-size: 12px;
  // font-weight: bold;
  // letter-spacing: 0.6px;
  // color: $color-dark;
  // text-align: left;
  // text-transform: uppercase;
  // margin-top: 0;
// }

// .error-text {
//   text-align: left;
//   color: $color-red;
//   margin-bottom: 0;
//   font-size: 12px;
//   margin-top: 8px;
//   height: 12px;
// }

@media (min-width: $breakpoint-sm) {
  // button {
  //   font-size: 1rem;
  // }

  // #top-wrapper h1 {
  //   font-size: 40px;
  // }

  label {
    letter-spacing: 0.25px;
  }

  // #container {
  //   max-width: $width-sm;
  // }

  // p#support {
  //   font-size: 0.75rem;
  // }

  // #top-form {
  //   // height: 40vh;
  //   position: relative;
  // }
}

@media (min-width: $breakpoint-lg) {
  // #container {
  //   max-width: $width;
  // }

//   #top-form {
//     width: $width-sm;
//   }
}

// @media (min-width: $breakpoint-xl) {
//   #container {
//     max-width: none;
//   }
// }
